﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-inverse navbar-fixed-top" style="background-color:#153333 ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Soruyorum.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav  navbar-left">
                    <li>@Html.ActionLink(soruyorum.Dil.dil.anasayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(soruyorum.Dil.dil.sorusor, "Sorusor", "Home")</li>
                    <li>@Html.ActionLink(soruyorum.Dil.dil.iletişim, "Iletisim2", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-top:10px;margin-right:20px;">
                        <form action="" class="search-form">
                            <div class="form-group has-feedback" style="margin-bottom:0px;">
                                <label for="search" class="sr-only">Search</label>
                                <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </form>
                    </li>
                    <li>
                        <div class="dropdown" style="margin-top:10px;">
                            <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                @Html.Label(soruyorum.Dil.dil.Dil1)
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu"></li>
                                <li>@Html.ActionLink("TR","DilDegistir","Home", new { dil = "tr" }, null)</li>
                                <li>@Html.ActionLink("EN", "DilDegistir", "Home", new { dil = "en" }, null)</li>
                            </ul>
                        </div>
                    </li>
                    <li>@Html.ActionLink(soruyorum.Dil.dil.giris, "Iletisim", "Home")</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer style="background-color:white">
            <!-- Social Footer, Colour Matching Icons -->
            <!-- Include Font Awesome Stylesheet in Header -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
            <!-- // -->
            <div class="container">

                <hr>
                <div class="text-center center-block">
                    <strong class="txt-railway">-Soruyorum.com-</strong>
                    <br />
                    <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                </div>
                <hr>
            </div>
            <br />
            <!-- Social Footer, Single Coloured -->
            <!-- Include Font Awesome Stylesheet in Header -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
            <!-- // -->
            <center><p>&copy;  Soruyorum.com @DateTime.Now.Year -  @Html.Label(soruyorum.Dil.dil.tümhaklarisaklidir)</p></center>


        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
