﻿
@{
    ViewBag.Title = "Cozum";
}

<h2>Sorunun Çözümleri</h2>



    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>
        
        <div  style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@
                     
                

            </p>
            </div>
        </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>

    <!----ÇÖZÜM PANELLERİ-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>

    <!----ÇÖZÜM PANELLERİ-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>
    <!----ÇÖZÜM PANELLERİ-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>
    <!----ÇÖZÜM PANELLERİ-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>
    <!----ÇÖZÜM PANELLERİ-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>
    <!----ÇÖZÜM PANELLERİ-->

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">çözüm 1</h3>
        </div>
        <div class="panel-body">
            ASLIDA KİM AQ
        </div>
    </div>


