﻿
@{
    ViewBag.Title = "Iletisim2";
}
<div style="padding-top:20px;">
    <form>

        <div class="form-group col col-md-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group col-md-3">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>


    </form>
</div>

<div class="form-group body1 ">
    <div class="row  " style="padding-left:15px">
        <div class="col-sm-4 col-md-8 ">
            <div class="panel panel-default">
                <div class="panel-body" id="resizable">
                    <form accept-charset="UTF-8" action="" method="POST">
                        <textarea id="fullfilled" class="form-control counted" name="message" placeholder="Type in your message" rows="5" style="margin-bottom:10px;"></textarea>
                        <h6 class="pull-right" id="counter">320 characters remaining</h6>
                        <button class="btn btn-info" type="submit">Post New Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  
