﻿@{
    ViewBag.Title = "Home Page";
}

<h5>    </h5>
<section class="section-white">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Resimler/slider.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>SLİDER 1</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Resimler/slider2.jpg" alt="...">
                    <div class="carousel-caption">
                        <h2>SLİDER 2</h2>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Resimler/slider3.png" alt="...">
                    <div class="carousel-caption">
                        <h2>SLİDER 3</h2>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</section><br />

<div class="col-md-9">


    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle"> @Html.Label(soruyorum.Dil.dil.kategori)</a>
               @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@

            </p>
        </div>

    </div>

    <!--başka panel-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle"> @Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@

            </p>
        </div>
    </div>

    <!--başka panel-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle"> @Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@

            </p>
        </div>
    </div>

    <!--başka panel-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle"> @Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@

            </p>
        </div>
    </div>

    <!--başka panel-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle"> @Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@
            </p>
        </div>
    </div>

    <!--başka panel-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle"> @Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
                <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
                @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@

            </p>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="container" style="margin:0px;max-width:none;width:auto;">
            <div class="col-md-12">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">


                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.sanat)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.sosyal)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.siyasi)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.kültür)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.spor)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.matematik)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.bulmaca)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.egitim)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.aile)</a></li>
                                <li><a href="#">@Html.Label(soruyorum.Dil.dil.sikayet)</a></li>
                                
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
          
        </div>
    </div>


<div class="row"></div>
<center> <nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
 </center>



