﻿<h1>kategori adı</h1>

<div class="panel panel-default" style="padding-top:15px">
    <!-- Default panel contents -->
    <div class="panel-heading">Soru Başlığı</div>
    <div class="panel-body">
        <p>
            BİLGİSAYAR MÜHENDİSLİĞİ NEDEN BU KADAR ZOR?????
        </p>
    </div>

    <div style=" padding-left: 15px ">
        <p>
            <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.kategori)</a>
            @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
            <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
            <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
            @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@

        </p>
    </div>

</div>
<div class="panel panel-default" style="padding-top:15px">
    <!-- Default panel contents -->
    <div class="panel-heading">Soru Başlığı</div>
    <div class="panel-body">
        <p>
            BİLGİSAYAR MÜHENDİSLİĞİ NEDEN BU KADAR ZOR?????
        </p>
    </div>

    <div style=" padding-left: 15px ">
        <p>
            <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.kategori)</a>
            @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
            <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
            <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
            @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@
        </p>
    </div>

</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Soru Başlığı</div>
    <div class="panel-body">
        <p>
            BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
        </p>
    </div>

    <div style=" padding-left: 15px ">
        <p>
            <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.kategori)</a>
            @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
            <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı) </span></button>
            <a href="@Url.Action("SoruCoz","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.çöz)</a>
            @*<button class="button" style="vertical-align:middle"><span>Çöz </span></button>*@
        </p>
    </div>

</div>
