﻿
@{
    ViewBag.Title = "SoruSor";
}


    <div class="container col-md-12 " style="padding-top:15px;">
        
      
        <div class="col-md-12">
            <form>

                <div class="form-group">
                    <label for="comment">@Html.Label(soruyorum.Dil.dil.sorunusor)</label>
                    
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle  " style="background-color:#153333" type="button" data-toggle="dropdown">
                               @Html.Label(soruyorum.Dil.dil.kategori)
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                               
                                <li><a href="@Url.Action("Kategori","Home")">@Html.Label(soruyorum.Dil.dil.sosyal)</a></li>
                                <li><a href="@Url.Action("Kategori","Home")">@Html.Label(soruyorum.Dil.dil.siyasi)</a></li>
                                <li><a href="@Url.Action("Kategori","Home")">@Html.Label(soruyorum.Dil.dil.spor)</a></li>
                               
                            </ul>
                        </div><br />
                <div style="min-width:300px" ></div>
                    <textarea  class="form-control "  rows="5" id="comment"></textarea>
                    <div class="col-md-8"></div>
                    <div class="col-md-3" >
                        <button class="button gonderbutton">@Html.Label(soruyorum.Dil.dil.gönder)</button>
                    </div>
                </div><hr />
            
                
            </form>

        </div>
      
     

</div>
    
