﻿
@{
    ViewBag.Title = "SoruCoz";
}
	

<div class="container">
    <h2> SORU ÇÖZ</h2><br />
    <!--başka panel-->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Soru Başlığı</div>
        <div class="panel-body">
            <p>
                BİLGİSAYAR MÜHENDİSLİĞİ NEDEN OKUNMAZ?????
            </p>
        </div>

        <div style=" padding-left: 15px ">
            <p>
                <a href="@Url.Action("Kategori","Home")" button class="button" style="vertical-align:middle">@Html.Label(soruyorum.Dil.dil.kategori)</a>
                @*<button class="button" style="vertical-align:middle"><span>Kategori </span></button>*@
                <button class="buttonkullanici" style="vertical-align:middle"><span>@Html.Label(soruyorum.Dil.dil.kullanıcıadı)</span></button>

            </p>
        </div>
    </div>
    <div style="min-width:300px"></div>
    <textarea class="form-control " rows="5" id="comment"></textarea>
    <div class="col-md-9">
        <div class="col-md-1" style="float:right">
            <button class="button gonderbutton" >@Html.Label(soruyorum.Dil.dil.gönder)</button>
        </div>
    </div>
    
</div><hr />


 